.row {
  max-width: $grid-width; // if available width less than max-width, it'll just fill 100% of the width

  /* browser will automatically figure out the margin defined as auto,
     and here, left and right margins would be the same */
  margin: 0 auto;

  &:not(:last-child) { // :not pseudo class
    margin-bottom: $gutter-vertical;
  }

  @include clearfix; // clearfix hack for float-based layout

  // attribute selector
  // ^= means the beginning with, *= means containing, $= means ending with
  [class^="col-"] { // DRY principle, put common declarations for columns here
    float: left; // float-based layout

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    /* math calculation (supported by native CSS), can even mix units;
      note that in Sass we cannot do calculations with multiple units;
      Calculation with multiple units can only occur in render phase (with computed values),
      so it makes sense that Sass doesn't support it. */
    width: calc((100% - #{$gutter-horizontal}) / 2); // use #{$...} to access Sass variables
  }

  .col-1-of-3 {
    width: calc((100% - (#{$gutter-horizontal}) * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(((100% - (#{$gutter-horizontal}) * 2) / 3) * 2 + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - (#{$gutter-horizontal}) * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(((100% - (#{$gutter-horizontal}) * 3) / 4) * 2 + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(((100% - (#{$gutter-horizontal}) * 3) / 4) * 3 + #{$gutter-horizontal} * 2);
  }

}

