// this is the style very specific to the home page
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  /* negative margin values are allowed by W3C, it's not a hack;
  margin means the space between two elements,
  so negative margin values lead to overlap */
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 30rem 0;
  }

  @include respond(phone) {
    padding: 33rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, .8),
          rgba($color-primary-dark, .8)
  ), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: bottom;

  // skewing design
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  margin-top: -12vh; // move it up to hide the white space

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -12vh;

  @include respond(tab-port) {
    padding: 22rem 0 5rem 0;
  }

  @include respond(phone) {
    padding: 25rem 0 3rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  @include respond(phone) {
    padding: 3rem 0;
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

/* this is not considered a component style according to the lecturer,
   because we may not need to reuse it, it's just a home page specific style
   but we do reuse the 'form' element in this booking element
*/
.booking {
  background-image: linear-gradient(
          105deg,
          rgba($color-white, .9) 50%,
          transparent 50%
  ), url(../img/nat-10.jpg); // use the solid gradient to achieve the sharp slope, no clip-path needed here
  /* so we now have more than 1 techniques to achieve the sharp slope,
     clip-path and solid gradient
     use different tools for different situations
  */

  background-size: cover; // 100% means fit the container in X direction, not the same as 'cover'
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  height: 50rem;

  @include respond(tab-land) {
    background-image: linear-gradient(
            105deg,
            rgba($color-white, .9) 70%,
            transparent 70%
    ), url(../img/nat-10.jpg);
    padding: 0;
    height: auto;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
            105deg,
            rgba($color-white, .9) 100%,
            transparent 100%
    ), url(../img/nat-10.jpg);
    padding: 0;
    height: auto;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 75%;
      padding: 4rem;
    }

    @include respond(tab-port) {
      width: 100%;
      padding: 4rem;
    }
  }
}
